/* general */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    list-style-type:none;
    box-sizing: border-box;
    padding: 0px;
    text-decoration: none;
}
/* header */
.top {
    background-color: #222;
    color: #f3f3f3;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top ul {
    display: flex;
    padding-right: 2.5rem ;
}
.top li {
    padding: 0.7rem 1rem 0.5rem 0.5rem;
}
.top p {
    padding-left: 2rem ;

}

/*Barra Navegacion*/
.barra-nav {
    display: flex;
    align-items: center;
    background-color: #F0A83E;
    padding-left: 2rem;
    padding-bottom: 0.8rem;
    padding-top: 0.8rem;
}
.barra-nav h1 {
    font-size: 22px;
    font-weight: bolder;
    align-items: center;
    justify-content: space-between;
}
.barra-nav h1 span {
    color: #FFFFFF;

}
.barra-nav ul li a {
    color: #FFF;
    font-weight: 500;
    font-size: 15px;
    display: flex;
    
}
.barra-nav ul {
    display: flex;
    padding-left: 47.5rem;
    
}

.barra-nav a {
    padding-right: 1rem;
}
.barra-nav img {
    margin-left: 0.3rem;
    margin-right: 0.2rem;
}


/* main */

.seccionBanner{
    background:url('../img/bowl-and-pet-daities-on-green-background1.png') ;
    background-size: cover;
    color:#3C2313;
    height: 43rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-attachment: scroll;
    flex-wrap: wrap;
}
.contenedor.seccionBanner {
    text-align: center;
    display: inline-block;
    position: relative;
}
.contenedor .seccionBanner .placer {
    font-size: 30px;
    font-weight: 400;
    background-color: #FFF;
    padding: 5px;
    border-radius: 5px;
    margin:0px 8px;
}

.contenedor .seccionBanner .descuentos, .comederos {
    font-size: 16px;
    margin: 0.625rem 0rem 0rem 5.313rem;
}

.seccionBanner .comederos {
    display: inline-block;
    padding: 16px;
    background-color: #F0A83E;
    color: #FFF;
    border-radius: 5px;
    cursor: pointer;
    margin: 0.625rem 0rem 0rem 7.5rem;
    
}
.productos .pata {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.productos .productosDestacados {
    display: flex;
    font-weight: 600;
    font-size: 40px;
    color:#3C2313 ;
    margin-top: 0.5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.tiposDeProducto {
    display: flex;
    font-size: 15px;
    font-weight: 400;
    margin-top: 1rem;
    justify-content: center;


}
.cards {
    display: flex;
    display: grid;
    grid-template-columns: repeat(3,28rem);
    justify-content: center;
    margin-top: 20px ;
    
}
.cards img {
    margin-left: 5.5rem;
}

.cards figure figcaption {
    position: relative;
    margin-top: 1rem ;
}

.cards figure figcaption .precio {
    color: #F0A83E;
    font-size: 15px;
    text-align: center;
}

.cards figure figcaption .nombre {
    color: #3C2313;
    font-size: 15px;
    text-align: center;
}

/*Formulario*/

.formulario form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contactoMain input{
    background-color: #3C2313;
    border-radius: 18px;
    border-style: none;
    padding: 0.938rem 15rem 0.938rem 0.938rem;
    margin: 0.4rem;
    color: #FFFFFF
}
.contactoMain ::placeholder{
    color: #FFFFFF;
}

h3{
    font-size: 25px;
    display: flex;
    justify-content: center;
    font-weight: 700;
    margin-top: 4rem;
    margin-bottom: 2rem;
    color: #3C2313;
}
button[type="reset"] {
    background-color: #8A8787;
    border-radius: 20px;
    border-style: none;
    padding: 0.6rem 1.8rem 0.6rem 1.8rem;
    margin-right: 3rem;
    color: #FFFFFF;
}
button[type="submit"] {
    background-color: #F0A83E;
    border-radius: 20px;
    border-style: none;
    padding: 0.6rem 2.2rem 0.6rem 2.2rem;
    color: #FFFFFF;
}
.botones {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    
    
}
.botones button {
    cursor: pointer;
}

/* footer */

.suscribite {
    align-items: center;
    background-color: #F0A83E ;
    background-size:cover ;
    display: flex;
    padding: 1rem 0rem 1rem 0rem;
    margin-top: 5rem;
}
.suscribite img {
    padding-left: 1.2rem;
}
h4 {
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    margin-left: 0.5rem;
}
.suscribirme input{
    background-color: #FFFFFF;
    color:#A0A0A0;
    border-radius: 1.2rem;
    border-style: none;
    padding: 1rem 15rem 1rem 1rem;
    margin-left: 30rem;
}

.suscribirme button{
    
    
    justify-content: center;
    background-color: #3C2313;
    font-size: 12px;
    font-weight: 600;
    padding: 1.1rem 2.2rem 1.1rem ;
    margin-left: 1rem;
}

.informacion {
    display: flex;
    background-color: #3C2313;
    padding-left: 1rem;
    padding-bottom: 3rem;
    flex-direction: column;
    align-items: flex-start;
}
h5 {
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    margin: -3.5rem 0rem 0rem 5.5rem;
}
.informacion p {
    color: #8A8787;
    font-size: 15px;
    font-weight: 700;
    padding-left: 5.6rem;
}
.informacion img {
    padding-top: 3rem;
}
.pieDePagina {
    background-color: #222222;
    color: #FFFFFF;
    font-size: 15px;
    padding: 0.2rem 0rem 0.2rem 0rem;
    display: flex;
    justify-content: center;
}

/*Media Queries*/

@media all and (max-width: 768px ){
    .top {
        display: none;
    }
    .seccionBanner .descuentos {
        display: none;
    }
    .barra-nav {
        align-items: flex-start;
        padding-left: unset;
        align-items: center;
        padding-left: 0.5rem;
    }
    .barra-nav h1 {
        font-size: 20px;
    }
    .seccionBanner{
        justify-content: center;
    }
    .productos .productosDestacados {
        font-size: 30px;
    }
    .cards {
        flex-direction: column;
        grid-template-columns: unset;
    }
    .cards img {
    margin-left: unset;
    padding-top: 1.5rem;
    }
    .cards figure figcaption .precio{
        padding-top: 0.25rem;
    }
    
    .formulario form {
        flex-wrap: unset;
    }
    .suscribite {
        display: inherit;
        margin-top: 2rem;
    } 
    h4 {
        align-items: center;
        justify-content: center;
        margin-left: 4.5rem;
        margin-top: -2.2rem;
    }
    .suscribirme input {
        margin-left: 1rem;;
        margin-top: 1rem;
        padding: 0.8rem 4rem 0.8rem 0.5rem;
    }
    .suscribirme button {
        padding: 0.8rem 1rem 0.8rem 1rem;
        margin-left: 0.5rem;
    }

}


